# List Functions

In [4]:
# 1.Append

list1 = ['mango','orange','apple','plum']
list1.append('pome');
print(list1)

['mango', 'orange', 'apple', 'plum', 'pome']

In [5]:
# 2.count

print( len(list1))

5

In [26]:
# 3.extend

list2 = ['potato','tomato','brinjal','carrot']
list1.extend(list2)
print(list1)

['potato', 'tomato', 'brinjal', 'carrot', 'potato', 'tomato', 'brinjal', 'carrot']

In [29]:
# 4.index

print(list2.index('brinjal'))

2

In [31]:
# 5.insert

list2.insert(2,'beetroot')
print(list2)

['potato', 'tomato', 'beetroot', 'brinjal', 'carrot']

In [32]:
# 6. pop

list2.pop()
print(list2)

['potato', 'tomato', 'beetroot', 'brinjal']

In [35]:
# 7. remove

print(list2);
list2.remove('tomato');
print(list2);

['potato', 'tomato', 'beetroot', 'brinjal']
['potato', 'beetroot', 'brinjal']

In [37]:
# 8.reverse

print(list2)
list2.reverse()
print(list2)

['brinjal', 'beetroot', 'potato']
['potato', 'beetroot', 'brinjal']

In [38]:
# 9.sort

list2.sort();
print(list2)

['beetroot', 'brinjal', 'potato']

# Dictionary Functions

In [39]:
# 1. clear

dict1 = {'Name' : 'Zara', 'Age' : 10}
print(dict1);
dict1.clear()
print(dict1);

{'Name': 'Zara', 'Age': 10}
{}

In [41]:
# 2.copy

dict1 = {'Name' : 'Zara', 'Age' : 10}
dict2=dict1.copy();
print(dict2);

{'Name': 'Zara', 'Age': 10}

In [43]:
# 3. dict.fromkeys

seq = ('name','age','gender')
dict = dict.fromkeys(seq);
print(dict)
dict = dict.fromkeys(seq,10)
print(dict)

{'name': None, 'age': None, 'gender': None}
{'name': 10, 'age': 10, 'gender': 10}

In [51]:
#4. dict.get

print(dict1.get('Name'))
print(dict1.get('Gender','None'))

Zara
None

In [58]:
# 5. has_key

# print(dict1.has_key('Name'))
# print(dict1.has_key('Gender','None'))

In [53]:
# 6. items

print(dict1.items())

dict_items([('Name', 'Zara'), ('Age', 10)])

In [55]:
#7 .keys

print(dict1.keys())

dict_keys(['Name', 'Age'])

In [56]:
# 8.values

print(dict1.values())

dict_values(['Zara', 10])

In [57]:
# 9.update

dict3 = {'Gender' : 'Female'}
dict1.update(dict3)
print(dict1);

{'Name': 'Zara', 'Age': 10, 'Gender': 'Female'}

# Tuple Functions

In [63]:
# 1. cmp

tup1 = (123,'xyz','asf',456)
print(len(tup1))

4

In [67]:
# 2.max

tup2 = (123,456,857,456)
print(max(tup2))

857

In [68]:
# 3. min

print(min(tup2))

123

In [70]:
# 4.tuple(seq)
# convert list to tuple 

print(list2)
print(tuple(list2))

['beetroot', 'brinjal', 'potato']
('beetroot', 'brinjal', 'potato')

# Sets Functions

In [71]:
# 1. add

set1 = {'apple','grapes','orange'}
set1.add('banana')
print(set1)

{'orange', 'grapes', 'banana', 'apple'}

In [72]:
# 2.clear

set1.clear();
print(set1)

set()

In [73]:
#3. copy
set1 = {'apple','grapes','orange'}
set2 = set1.copy();
print(set2);

{'orange', 'grapes', 'apple'}

In [83]:
# 4.difference
# returns difernce between two sets

x = {"apple", "grapes","orange"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z);

{'orange', 'grapes'}

In [87]:
# 5.differnce update

m  = {"apple", "grapes","orange"}
n  = {"google", "microsoft", "apple"}
k = m.difference_update(n)
print(k);

None

In [90]:
# 6.discard
# removes specifies item

print(m);
m.discard('grapes');
print(m);

{'orange', 'grapes'}
{'orange'}

In [94]:
# 7. intersection

m  = {"apple", "grapes","orange"}
z = m.intersection(n)
print(z);

{'apple'}

In [95]:
# 8.pop

print(m.pop())
print(m);

orange
{'grapes', 'apple'}

In [103]:
# 9.remove

m  = {"apple", "grapes","orange"}
m.remove('apple')
print(m);

{'orange', 'grapes'}

In [112]:
# 10.union

m  = {"apple", "grapes","orange"}
n  = {"google", "microsoft", "apple"}

z=m.union(n);
print(z)

{'grapes', 'microsoft', 'orange', 'google', 'apple'}

# String Methods

In [117]:
# 1.capitalize
# first character in caps

str1 = "hello world"
k = str1.capitalize()
print(k)

Hello world

In [122]:
# 2.casefold

str2 = "HELLO WORLD WORLD"
k = str2.casefold();
print(k);

hello world world

In [123]:
# 3. center

k = str2.center(20);
print(k);

 HELLO WORLD WORLD

In [124]:
# 4.count

k=str2.count('WORLD');
print(k);

2

In [127]:
# 5.encode

k = str2.encode()
print(k)

b'HELLO WORLD WORLD'

In [128]:
# 6.islower

k =  str2.islower()
print(k)

False

In [129]:
# 6.isupper

k =  str2.isupper()
print(k)

True

In [130]:
# 6.isnumeric

k =  str2.isnumeric()
print(k)

False

In [131]:
# 6.isspace

k =  str2.isspace()
print(k)

False